<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magestore_Retailerkittools::retailerkittool"
             title="Retailer Kit Tool"
             module="Magestore_Retailerkittools"
             sortOrder="10"
             parent="Magento_Sales::sales"
             resource="Magestore_Retailerkittools::retailerkittool"/>
            <add id="Magestore_Retailerkittools::dash_board"
             title="Dashboard"
             module="Magestore_Retailerkittools"
             sortOrder="20"
             action="retailerkittools/dashboard/"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::dash_board"/>
            <add id="Magestore_Retailerkittools::invoicegenerator"
             title="Invoice Generator"
             module="Magestore_Retailerkittools"
             sortOrder="30"
             action="retailerkittools/index/invoicegenerator"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::invoicegenerator"/>
             <add id="Magestore_Retailerkittools::purchaseorder"
             title="Purchase Order Template"
             module="Magestore_Retailerkittools"
             sortOrder="40"
             action="retailerkittools/index/purchaseorder"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::purchaseorder"/>
             <add id="Magestore_Retailerkittools::printshippinglabel"
             title="Shipping Label Template"
             module="Magestore_Retailerkittools"
             sortOrder="50"
             action="retailerkittools/index/printshippinglabel"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::printshippinglabel"/>
             <add id="Magestore_Retailerkittools::makebarcode"
             title="Barcode Generator"
             module="Magestore_Retailerkittools"
             sortOrder="60"
             action="retailerkittools/index/makebarcode"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::makebarcode"/>
             <add id="Magestore_Retailerkittools::calcpaypalfee"
             title="Paypal Fee Calculator"
             module="Magestore_Retailerkittools"
             sortOrder="70"
             action="retailerkittools/index/calcpaypalfee"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::calcpaypalfee"/>
             <add id="Magestore_Retailerkittools::configuration"
             title="Configuration"
             module="Magestore_Retailerkittools"
             sortOrder="80"
             parent="Magestore_Retailerkittools::retailerkittool"
             resource="Magestore_Retailerkittools::configuration"/>
             <add id="Magestore_Retailerkittools::vendor"
             title="Manage Vendor"
             module="Magestore_Retailerkittools"
             sortOrder="90"
             action="retailerkittools/vendor/index"
             parent="Magestore_Retailerkittools::configuration"
             resource="Magestore_Retailerkittools::vendor"/>
             <add id="Magestore_Retailerkittools::companyinfo"
             title="Company Information"
             module="Magestore_Retailerkittools"
             sortOrder="100"
             action="retailerkittools/index/companyinfo"
             parent="Magestore_Retailerkittools::configuration"
             resource="Magestore_Retailerkittools::companyinfo"/>
             <add id="Magestore_Retailerkittools::shippingsender"
             title="Shipping Sender Information"
             module="Magestore_Retailerkittools"
             sortOrder="110"
             action="retailerkittools/index/shippingsender"
             parent="Magestore_Retailerkittools::configuration"
             resource="Magestore_Retailerkittools::shippingsender"/>
	</menu>
</config>
